# Template for secrets.properties
# DO NOT COMMIT actual secrets to source control.
# Copy this file to 'secrets.properties' and fill in your actual values.

FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_CLIENT_TOKEN=your_facebook_client_token
FB_LOGIN_PROTOCOL_SCHEME=fb_your_facebook_app_id
GOOGLE_API_KEY=your_youtube_google_api_key
